body {
  font-family: "Rubik", Helvetica, Arial, sans-serif; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.header, .feature-section, .bookmark-section .bookmark, .download-section, .questions-section, .form, .footer, .social {
  width: 80%;
  margin: auto;
  text-align: center; }

.navbar__logo {
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }
  .navbar__logo--img {
    width: 40%;
    height: 15%; }

.nav {
  text-align: center;
  line-height: 4;
  background-color: #003366; }
  .nav__item {
    margin: 0 30px;
    border-bottom: 1px solid grey; }
    .nav__item--link {
      color: whitesmoke;
      font-weight: 400; }
  .nav__login {
    margin: 0 30px;
    margin-top: 26px; }
    .nav__login--link {
      color: whitesmoke;
      border: 2px solid grey;
      border-radius: 6px;
      padding: 10px 96px;
      font-weight: 500; }

@media (min-width: 576px) and (max-width: 768px) {
  .navbar__logo--img {
    width: 200px;
    height: 34px; } }

@media (min-width: 769px) and (max-width: 992px) {
  .navbar__logo--img {
    width: 200px;
    height: 34px; } }

@media (min-width: 993px) and (max-width: 1400px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    margin-bottom: 40px; }
    .navbar__logo--img {
      width: 200px;
      height: 34px; }
    .navbar .nav {
      line-height: 2;
      background-color: white;
      display: flex;
      justify-content: space-between; }
      .navbar .nav__item {
        border-bottom: none; }
        .navbar .nav__item--link {
          color: #252b46;
          transition-property: color;
          transition-duration: .2s; }
          .navbar .nav__item--link:hover {
            color: #fa5757; }
      .navbar .nav__login {
        margin-top: 0px; }
        .navbar .nav__login--link {
          color: whitesmoke;
          border: none;
          background-color: #fa5757;
          padding: 10px 40px;
          transition-property: color, background-color, border;
          transition-duration: .2s; }
          .navbar .nav__login--link:hover {
            color: #fa5757;
            background-color: whitesmoke;
            border: 2px solid #fa5757; } }

header {
  padding-top: 30px;
  padding-bottom: 30px; }

.header-image {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  margin-top: 60px; }
  .header-image__img {
    width: 92vw; }
  .header-image__bg {
    text-align: center;
    background-color: #5368df;
    width: 80vw;
    height: 53vw;
    border-radius: 0 0 0 90px;
    position: absolute;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1; }

.header__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.header__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.header__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px; }
  .header__buttons--chrome {
    background-color: #5368df;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    font-size: 0.88889em;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 20px;
    text-align: center; }
  .header__buttons--firefox {
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    font-size: 0.88889em;
    font-weight: 700;
    color: #9194a1;
    text-align: center; }

@media (min-width: 993px) and (max-width: 1400px) {
  header {
    padding-top: 60px; }
    header__buttons {
      text-align: left; }
  .main-header {
    display: flex;
    justify-content: space-around; }
  .header-image {
    order: 2; }
    .header-image__img {
      width: 46vw;
      margin-right: 40px; }
    .header-image__bg {
      width: 42vw;
      height: 22vw;
      border-radius: 0 0 0 180px;
      position: absolute;
      top: 155px; }
  .header {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px; }
    .header__heading {
      color: #003366;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 2.22222em;
      letter-spacing: 1px; }
    .header__buttons {
      margin-bottom: 120px;
      width: 320px; }
      .header__buttons--chrome {
        transition-property: color, background-color, border;
        transition-duration: .2s; }
        .header__buttons--chrome:hover {
          color: #5368df;
          background-color: whitesmoke;
          border: 2px solid #5368df; }
      .header__buttons--firefox {
        transition-property: background-color, border;
        transition-duration: .2s; }
        .header__buttons--firefox:hover {
          background-color: white;
          border: 2px solid #c8c9d0; } }

.feature-section__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.feature-section__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.menu {
  text-align: center;
  line-height: 3.8;
  margin-bottom: 60px; }
  .menu__item {
    margin: 0 30px;
    border-bottom: 1px solid grey; }
    .menu__item:first-child {
      border-top: 1px solid grey; }
    .menu__item--link {
      color: #9194a1;
      font-weight: 400;
      padding-bottom: 18px; }
    .menu__item .red-border-bottom {
      border-bottom: 4px solid #fa5757; }

.bookmark-image {
  text-align: center;
  position: relative;
  margin-bottom: 80px; }
  .bookmark-image__img {
    width: 80vw; }
  .bookmark-image__bg {
    margin-bottom: 40px;
    text-align: center;
    background-color: #5368df;
    width: 80vw;
    height: 52vw;
    border-radius: 0 0 90px 0;
    position: absolute;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: -1; }

@media (min-width: 993px) and (max-width: 1400px) {
  .feature-div {
    width: 48%;
    margin: auto;
    text-align: center; }
  .feature-section__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.77778em;
    letter-spacing: 1px; }
  .feature-section__description {
    text-indent: 20px;
    margin-bottom: 60px; }
  .menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    width: 60%;
    margin: auto;
    margin-bottom: 70px; }
    .menu__item {
      border-bottom: none; }
      .menu__item:first-child {
        border-top: none; }
      .menu__item--link {
        transition-property: border-bottom;
        transition-duration: .1s; }
        .menu__item--link:hover {
          border-bottom: 4px solid #fa5757; }
  .bookmark-image__img {
    width: 40vw;
    margin-left: 140px; }
  .bookmark-image__bg {
    width: 42vw;
    height: 26vw;
    border-radius: 0 0 180px 0;
    position: absolute;
    top: 80px; } }

.bookmark-section {
  margin-bottom: 120px; }
  .bookmark-section .bookmark__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.66667em;
    letter-spacing: 1px; }
  .bookmark-section .bookmark__description {
    line-height: 1.7;
    color: #9194a1;
    margin-bottom: 20px;
    font-size: 1em; }
  .bookmark-section .info-button {
    background-color: #5368df;
    width: 110px;
    height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    font-size: 0.88889em;
    font-weight: 700;
    color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 110px; }

@media (min-width: 993px) and (max-width: 1400px) {
  .bookmark-section {
    display: flex;
    justify-content: space-around; }
  .bookmark-div {
    width: 57%;
    margin: auto;
    text-align: left; }
  .bookmark {
    margin: 120px 100px; }
    .bookmark__heading {
      color: #003366;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.77778em;
      letter-spacing: 1px; }
  .info-button {
    width: 320px; } }

.download-section {
  margin-bottom: 120px; }
  .download-section__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.66667em;
    letter-spacing: 1px; }
  .download-section__description {
    line-height: 1.7;
    color: #9194a1;
    margin-bottom: 20px;
    font-size: 1em; }

.chrome {
  height: 390px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  margin-bottom: 36px; }
  .chrome__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .chrome__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .chrome__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .chrome__decoration {
    margin-bottom: 16px; }
  .chrome__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .chrome__button--link {
      color: whitesmoke;
      font-weight: 500; }

.firefox {
  height: 390px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  margin-bottom: 36px; }
  .firefox__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .firefox__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .firefox__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .firefox__decoration {
    margin-bottom: 16px; }
  .firefox__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .firefox__button--link {
      color: whitesmoke;
      font-weight: 500; }

.opera {
  height: 390px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  margin-bottom: 36px; }
  .opera__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .opera__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .opera__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .opera__decoration {
    margin-bottom: 16px; }
  .opera__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .opera__button--link {
      color: whitesmoke;
      font-weight: 500; }

@media (min-width: 993px) and (max-width: 1400px) {
  .download-div {
    width: 48%;
    margin: auto;
    text-align: center; }
  .download-section__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.88889em;
    letter-spacing: 1px; }
  .download-section__description {
    text-indent: 20px;
    margin-bottom: 60px; }
  .flex-wrap {
    display: flex;
    justify-content: space-around;
    max-width: 890px; }
  .chrome {
    margin-right: 10px; }
  .firefox {
    margin-top: 40px;
    margin-right: 10px; }
  .opera {
    margin-top: 80px; } }

.questions-section__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.questions-section__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.tab-group {
  margin: auto;
  text-align: left;
  max-width: 375px;
  width: 100%;
  padding-bottom: 30px; }

.tab {
  width: 100%; }
  .tab__one {
    display: block;
    border-bottom: 1px solid gainsboro;
    line-height: 3;
    color: #252b46;
    margin-bottom: 20px;
    background-image: url(../../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0.94444em; }
  .tab__content {
    height: 0;
    overflow: hidden; }
  .tab__content p {
    margin: 1em 0; }

.info-button {
  background-color: #5368df;
  width: 110px;
  height: 40px;
  border-radius: 6px;
  padding-top: 10px;
  font-size: 0.88889em;
  font-weight: 700;
  color: whitesmoke;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 110px; }

@media (min-width: 993px) and (max-width: 1400px) {
  .questions-div {
    width: 46%;
    margin: auto;
    text-align: center; }
  .questions-section {
    margin-bottom: 180px; }
    .questions-section__heading {
      color: #003366;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.77778em;
      letter-spacing: 1px; }
    .questions-section__description {
      margin-bottom: 60px; } }

.form-section {
  background-color: #5368df;
  padding-top: 60px;
  padding-bottom: 100px; }

.form__paragraph {
  color: whitesmoke;
  letter-spacing: 4px;
  font-size: 0.66667em;
  margin-bottom: 20px; }

.form__heading {
  color: whitesmoke;
  font-size: 1.33333em;
  letter-spacing: 2px;
  margin-bottom: 40px; }

.form .form-contact {
  height: 60px; }
  .form .form-contact__input {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    font-size: 1em;
    text-indent: 10px; }
    .form .form-contact__input:focus {
      border: 2px solid #fa5757; }
  .form .form-contact__button {
    background-color: #fa5757;
    padding: 14px 40px;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%; }
    .form .form-contact__button--link {
      color: whitesmoke; }

@media (min-width: 993px) and (max-width: 1400px) {
  .form-section {
    padding-bottom: 60px; }
  .form__paragraph {
    margin-bottom: 40px; }
  .form__heading {
    font-size: 1.77778em;
    width: 46%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px; }
  .form-contact {
    display: flex; }
    .form-contact__input {
      width: 30%;
      margin-right: 40px; }
    .form-contact__button {
      width: 30%;
      padding: 19px 0px; } }

.footer-section {
  background-color: #252b46;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer-section__logo {
    text-align: center;
    margin-bottom: 20px; }
    .footer-section__logo--img {
      width: 40%;
      height: 15%; }

.footer {
  line-height: 2.4; }
  .footer__item {
    margin: 0 30px;
    margin-bottom: 20px; }
    .footer__item--link {
      color: whitesmoke;
      font-size: 0.88889em;
      font-weight: lighter;
      letter-spacing: 2px; }

.social__facebook img {
  margin-right: 20px; }

.social__twitter img {
  margin-left: 20px; }

@media (min-width: 993px) and (max-width: 1400px) {
  .footer-section {
    display: flex;
    justify-content: space-around;
    padding: 16px 0; }
    .footer-section__logo {
      margin-bottom: 0;
      margin-top: 16px;
      margin-right: 80px;
      margin-left: 140px; }
      .footer-section__logo--img {
        width: 154px;
        height: 26px; }
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    line-height: 4; }
    .footer__item {
      margin: 0; }
  .social {
    text-align: right;
    margin-right: 160px; } }
