body {
  font-family: "Rubik", Helvetica, Arial, sans-serif; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.header, .feature-section, .bookmark-section, .download-section, .questions-section, .form, .footer, .social {
  width: 80%;
  margin: auto;
  text-align: center; }

.navbar__logo {
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }
  .navbar__logo--img {
    width: 40%;
    height: 15%; }

.nav {
  text-align: center;
  line-height: 4;
  background-color: #003366; }
  .nav__item {
    margin: 0 30px;
    border-bottom: 1px solid grey; }
    .nav__item--link {
      color: white;
      font-weight: 400; }
  .nav__login {
    margin: 0 30px;
    margin-top: 26px; }
    .nav__login--link {
      color: white;
      border: 2px solid grey;
      border-radius: 3px;
      padding: 10px 96px;
      font-weight: 500; }

header {
  padding-top: 30px;
  padding-bottom: 30px; }

.header-image {
  text-align: center;
  position: relative;
  margin-bottom: 40px; }
  .header-image__img {
    width: 92vw; }
  .header-image__bg {
    text-align: center;
    background-color: #5368df;
    width: 80vw;
    height: 53vw;
    border-radius: 0 0 0 90px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1; }

.header__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.header__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.header__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px; }
  .header__buttons--chrome {
    padding: 14px;
    background-color: #5368df;
    width: 150px;
    border-radius: 6px;
    font-size: 0.88889em;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 20px; }
  .header__buttons--firefox {
    padding: 14px;
    background-color: whitesmoke;
    width: 150px;
    border-radius: 6px;
    font-size: 0.88889em;
    font-weight: 700;
    color: #9194a1; }

.feature-section__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.feature-section__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.menu {
  text-align: center;
  line-height: 3.8;
  margin-bottom: 60px; }
  .menu__item {
    margin: 0 30px;
    border-bottom: 1px solid grey; }
    .menu__item:first-child {
      border-top: 1px solid grey; }
    .menu__item--link {
      color: #9194a1;
      font-weight: 400; }

.bookmark-image {
  text-align: center;
  position: relative;
  margin-bottom: 80px; }
  .bookmark-image__img {
    width: 80vw; }
  .bookmark-image__bg {
    margin-bottom: 40px;
    text-align: center;
    background-color: #5368df;
    width: 80vw;
    height: 52vw;
    border-radius: 0 0 90px 0;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: -1; }

.bookmark-section {
  margin-bottom: 120px; }
  .bookmark-section__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.66667em;
    letter-spacing: 1px; }
  .bookmark-section__description {
    line-height: 1.7;
    color: #9194a1;
    margin-bottom: 20px;
    font-size: 1em; }

.download-section {
  margin-bottom: 120px; }
  .download-section__heading {
    color: #003366;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.66667em;
    letter-spacing: 1px; }
  .download-section__description {
    line-height: 1.7;
    color: #9194a1;
    margin-bottom: 20px;
    font-size: 1em; }

.chrome {
  height: 390px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  margin-bottom: 36px; }
  .chrome__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .chrome__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .chrome__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .chrome__decoration {
    margin-bottom: 16px; }
  .chrome__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .chrome__button--link {
      color: whitesmoke;
      font-weight: 500; }

.firefox {
  height: 390px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  margin-bottom: 36px; }
  .firefox__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .firefox__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .firefox__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .firefox__decoration {
    margin-bottom: 16px; }
  .firefox__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .firefox__button--link {
      color: whitesmoke;
      font-weight: 500; }

.opera {
  height: 390px;
  border: 1px solid gainsboro;
  border-radius: 12px;
  margin-bottom: 36px; }
  .opera__img {
    margin-top: 40px;
    margin-bottom: 40px; }
  .opera__heading {
    color: #252b46;
    margin-bottom: 16px; }
  .opera__description {
    color: #9194a1;
    margin-bottom: 40px; }
  .opera__decoration {
    margin-bottom: 16px; }
  .opera__button {
    background-color: #5368df;
    margin: 0 20px;
    padding: 14px 0;
    border-radius: 6px; }
    .opera__button--link {
      color: whitesmoke;
      font-weight: 500; }

.questions-section__heading {
  color: #003366;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.66667em;
  letter-spacing: 1px; }

.questions-section__description {
  line-height: 1.7;
  color: #9194a1;
  margin-bottom: 20px;
  font-size: 1em; }

.tab-group {
  text-align: left;
  max-width: 375px;
  width: 100%;
  padding-bottom: 30px; }

.tab {
  width: 100%; }
  .tab__one {
    display: block;
    border-bottom: 1px solid gainsboro;
    line-height: 3;
    color: #252b46;
    margin-bottom: 20px;
    background-image: url(../../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0.94444em; }
  .tab__content {
    height: 0;
    overflow: hidden; }
  .tab__content p {
    margin: 1em 0; }

.info-button {
  padding: 14px 18px;
  background-color: #5368df;
  width: 110px;
  border-radius: 6px;
  font-size: 0.88889em;
  font-weight: 700;
  color: whitesmoke;
  margin: auto;
  margin-bottom: 110px; }

.form-section {
  background-color: #5368df;
  padding-top: 60px;
  padding-bottom: 60px; }

.form__paragraph {
  color: whitesmoke;
  letter-spacing: 4px;
  font-size: 0.66667em;
  margin-bottom: 8px; }

.form__heading {
  color: whitesmoke;
  font-size: 1.22222em;
  letter-spacing: 2px;
  margin-bottom: 20px; }

.form__input {
  display: block;
  margin: auto; }

.form__button {
  background-color: #fa5757;
  padding: 14px 40px;
  border-radius: 6px;
  margin-top: 16px; }
  .form__button--link {
    color: whitesmoke; }

.footer-section {
  background-color: #252b46;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer-section__logo {
    text-align: center;
    margin-bottom: 20px; }
    .footer-section__logo--img {
      width: 40%;
      height: 15%; }

.footer {
  line-height: 2.4; }
  .footer__item {
    margin: 0 30px;
    margin-bottom: 20px; }
    .footer__item--link {
      color: whitesmoke;
      font-size: 0.88889em;
      font-weight: lighter;
      letter-spacing: 2px; }

.social__facebook img {
  margin-right: 20px; }

.social__twitter img {
  margin-left: 20px; }
