
// Buttons Rounded Corners
@mixin round-shapes($w, $h, $br-rd: null, $br: null, $pos: absolute) {
    width: $w;
    height: $h;
    border-radius: $br-rd;
    border: $br;
    position: $pos;
    
}

// Flex Container 
@mixin flexy(
    $disp : flex,
    $dir : null,
    $wrap : null,
    $just : null,
    $align : null) {
        display: flex;
        flex-direction: $dir;
        flex-wrap: $wrap;
        justify-content: $just;
        align-items: $align;
    
}

// Heading Style Mobile
@mixin h-style-m($f-size) {
    color: $color-neutral__light-dark-blue;
    font-weight: bold;
    margin-top: $text-margin;
    margin-bottom: $text-margin;
    font-size: $f-size;
    letter-spacing: $letter-space-heading;
}

// Paragraph Style Mobile
@mixin p-style-m($ln-h, $f-size) {
        line-height: $ln-h;
        color: $color-neutral__grayish-blue;
        margin-bottom: $text-margin;
        font-size: $f-size;

    
}

// Button Style 
@mixin btn-style($bg-color, $w, $color) {
    background-color: $bg-color;
    width: $w;
    height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    font-size: em(16px);
    font-weight: 700;
    color: $color;
}

// Media Queries 
@mixin mq($breakpoint)  {
    @if $breakpoint == 'small' {
        @media (min-width: $break-s) and (max-width: $break-m) {
            @content;
        }
    }
    @else if $breakpoint == 'medium' {
        @media (min-width: $break-m + 1) and (max-width: $break-l) {
            @content;
        }
    }
    @else if $breakpoint == 'large' {
        @media (min-width: $break-l + 1) and (max-width: $break-xl) {
            @content;
        }
    }  
}

