// Colors
$color-primary__soft-blue : hsl(231, 69%, 60%);
$color-primary__soft-red : hsl(0, 94%, 66%);
$color-neutral__grayish-blue : hsl(229, 8%, 60%);
$color-neutral__very-dark-blue : hsl(229, 31%, 21%);

// Text
$base__font-size : 18px;
$base__line : 26px;
$letter-space : 1px;

// Font Weights
$font-weight__light : 400;
$font-weight__medium : 500;

