.bookmark-section {
    margin-bottom: 120px;
    .bookmark {
        @extend %center;
        &__heading {
            @include h-style-m(em(30px));
            
        } 

        &__description {    
            @include p-style-m(1.7, em(18px));
        }
    }

    .info-button {
        @include btn-style($color-primary__soft-blue, 110px, whitesmoke);
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 110px;
    }
}


@include mq('large') {

    .bookmark-section {
        @include flexy($just: space-around);
    }

    .bookmark-div {
        width: 57%;
        margin: auto;
        text-align: left;
    }

    .bookmark {
        margin: 120px 100px;
        &__heading {
            @include h-style-m(em(32px));
        } 
        
    }

    .info-button {
        width: 320px;
        transition-property: color, background-color, border;
        transition-duration: .2s;
            &:hover {
                color: $color-primary__soft-blue;
                background-color: white;
                border: 2px solid $color-primary__soft-blue;
            }
    }
}


