.feature-section {
    @extend %center;
    &__heading {
        @include h-style-m(em(30px));
    } 

    &__description {
        @include p-style-m(1.7, em(18px));
    }
}

.menu {
    text-align: center;
    line-height: 3.8;
    margin-bottom: 60px;
    &__item {
        margin: 0 30px;
        border-bottom: 1px solid grey;
        &:first-child {
            border-top: 1px solid grey;
        }
        &--link {
            color: $color-neutral__grayish-blue;
            font-weight: $font-weight__light;
            padding-bottom: 18px;
        }
        
    }
    .button--active {
        border-bottom: 3px solid $color-primary__soft-red;
    }
}



.bookmark-image {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    &__img {
        width: 80vw;
    }

    &__bg--first {
        margin-bottom: 40px;
        text-align: center;
        background-color: $color-primary__soft-blue;
        @include round-shapes(80vw, 52vw,0 0 90px 0);
        position: absolute;
        top: 34px;
        left: 0;
        z-index: -1;

    }

    &__bg--second {
        margin-bottom: 40px;
        text-align: center;
        background-color: $color-primary__soft-blue;
        @include round-shapes(68vw, 66vw,0 0 90px 0);
        position: absolute;
        top: 34px;
        left: 0;
        z-index: -1;

    }

    &__bg--third {
        margin-bottom: 40px;
        text-align: center;
        background-color: $color-primary__soft-blue;
        @include round-shapes(73vw, 68vw,0 0 90px 0);
        position: absolute;
        top: 34px;
        left: 0;
        z-index: -1;

    }
}

@include mq('large') {

    .feature-div {
        width: 48%;
        margin: auto;
        text-align: center;
        

    }

    .feature-section {
        &__heading {
            @include h-style-m(em(32px));
        } 
    
        &__description {
            text-indent: 20px;
            margin-bottom: 60px;
        }
    }

    .menu {
        @include flexy($just: space-around);
        border-bottom: 1px solid grey;
        width: 60%;
        margin: auto;
        margin-bottom: 70px;
        &__item {
            border-bottom: none;
            cursor: pointer;
            &:first-child {
                border-top: none;
            }
            &--active {
                border-bottom: 4px solid $color-primary__soft-red;
    
            }
            &--link {
                cursor: pointer;
                transition-property: border-bottom;
                transition-duration: .1s;
            }
        
        }
    }

    .bookmark-image {
        &__img {
            width: 40vw;
            height: 27vw;
            margin-left: 140px;
        }
        &__bg--first {
            @include round-shapes(42vw, 26vw, 0 0 180px 0);
            top: 80px;
        }

        &__bg--second {
            @include round-shapes(42vw, 26vw, 0 0 180px 0);
            top: 80px;
        }

        &__bg--third {
            @include round-shapes(42vw, 26vw, 0 0 180px 0);
            top: 80px;
        }
    }

    


    
}



