.footer-section {
    background-color: $color-neutral__very-dark-blue;
    padding-top: 40px;
    padding-bottom: 40px;
    &__logo {
        text-align: center;
        margin-bottom: 20px;
      &--img {
          width: $logo-width;
          height: $logo-height;
      }

    }
}

.footer {
   @extend %center;
    line-height: 2.4;
    &__item {
        margin: 0 30px;
        margin-bottom: 20px;
        &--link {
            color: whitesmoke;
            font-size: em(16px);
            font-weight: lighter;
            letter-spacing: 2px;
        }
    }
}

.social {
    @extend %center;
    &__facebook img {
        margin-right: 20px;
    }

    &__twitter img {
        margin-left: 20px;
    }
}

@include mq('large') {
    .footer-section {
        @include flexy($just: space-around);
        padding: 16px 0; 
        &__logo {
            margin-bottom: 0;
            margin-top: 16px;
            margin-right: 16px;
            &--img {
                width: $desktop-width;
                height: $desktop-height;
            }
        }
    }

    .footer {
        @include flexy();
        line-height: 4;
        &__item {
            margin: 0;
        }
    }
}