.form-section {
    background-color: $color-primary__soft-blue;
    padding-top: 60px;
    padding-bottom: 60px;
} 

.form {
    @extend %center;
    &__paragraph {
        color: whitesmoke;
        letter-spacing: 4px;
        font-size: em(12px);
        margin-bottom: 20px;
    }
    &__heading {
        color: whitesmoke;
        font-size: em(24px);
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    .form-contact {
        height: 60px;
        &__input {
            display: block;
            background-color: whitesmoke;
            width: 100%;
            padding: 14px 0;
            border-radius: 6px;
            font-size: em(18px);
            text-indent: 10px;
            &:focus {
                border: 2px solid $color-primary__soft-red;
            }
        }
    
        &__button {
            background-color: $color-primary__soft-red;
            padding: 14px 40px;
            border-radius: 6px;
            margin-top: 16px;
            width: 100%;
            &--link {
                color: whitesmoke;
            }
        }
    }
    
}

@include mq('large') {
    .form {
        &__paragraph {
            margin-bottom: 40px;
        }
        &__heading {
            font-size: em(32px);
            width: 46%;
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .form-contact {
        @include flexy();
        &__input {
            width: 30%;
            margin-right: 40px;
        }

        &__button {
            width: 30%;
            padding: 19px 0px;
        }
    }
}