.form-section {
    background-color: $color-primary__soft-blue;
    padding-top: 60px;
    padding-bottom: 100px;
} 

.form {
    @extend %center;
    &__paragraph {
        color: whitesmoke;
        letter-spacing: 4px;
        font-size: em(12px);
        margin-bottom: 20px;
    }
    &__heading {
        color: whitesmoke;
        font-size: em(24px);
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    .form-contact {
        &__input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            background-color: whitesmoke;
            height: 47px;
            margin-bottom: 16px;
            border-radius: 3px;
            font-size: em(18px);
            text-indent: 20px;
            &:focus {
                border: 2px solid $color-primary__soft-red;
            }
        }
    
        &__button {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            background-color: $color-primary__soft-red;
            padding: 14px 0;
            border-radius: 3px;
            font-weight: 600;
            height: 47px;
            color: whitesmoke;
            
        }
    }
    
}

@include mq('large') {
    .form-section {
        padding-bottom: 60px;
    }

    .form {
        &__paragraph {
            margin-bottom: 40px;
            font-size: em(16px);

        }
        &__heading {
            font-size: em(32px);
            width: 46%;
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .form-contact {
        display: inline-flex;
        width: 40%;
        &__input {
            width: 70%;
            display: inline-block;
            margin-right: 25px;
            margin-bottom: 0px;
            font-size: em(20px);
            
        }

        &__button {
            display: inline-block;
            width: 45%;
            transition-property: color, background-color, border;
            transition-duration: .2s;
                &:hover {
                color: $color-primary__soft-red;
                background-color: whitesmoke;
                border: 2px solid $color-primary__soft-red;
            }
           
        }
    }
}