header {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
}

.header-image {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    margin-top: 60px;
    &__img {
        width: 92vw;
    }

    &__bg {
        text-align: center;
        background-color: $color-primary__soft-blue;
        @include round-shapes(80vw, 53vw, 0 0 0 90px);
        top: 50px;
        right: 0;
        z-index: -1;
    }
}

.header {
    @extend %center;
    &__heading {
        @include h-style-m(em(30px));
    } 

    &__description {
        @include p-style-m(1.7, em(18px));        
    }
    
    &__buttons {
        @include flexy($just: space-around);
        margin-bottom: 120px;
        &--chrome {
            @include btn-style(14px, $color-primary__soft-blue, 150px, whitesmoke);
            margin-right: 20px;
        }
        &--firefox {
            @include btn-style(14px, whitesmoke, 150px, $color-neutral__grayish-blue);

        }
    }
}
