header {
    padding-bottom: $header-padding-mobile;
}

.header-image {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    margin-top: 60px;
    &__img {
        width: 92vw;
    }

    &__bg {
        text-align: center;
        background-color: $color-primary__soft-blue;
        @include round-shapes(80vw, 53vw, 0 0 0 90px);
        position: absolute;
        top: 50px;
        right: 0;
        z-index: -1;
    }
}

.header {
    @extend %center;
    &__heading {
        @include h-style-m(em(30px));
    } 

    &__description {
        @include p-style-m(1.7, em(18px));        
    }
    
    &__buttons {
        @include flexy($just: space-around);
        margin-bottom: 120px;
        &--chrome {
            @include btn-style($color-primary__soft-blue, 150px, whitesmoke);
            margin-right: 20px;
            text-align: center;
        }
        &--firefox {
            @include btn-style(whitesmoke, 150px, $color-neutral__grayish-blue);
            text-align: center;

        }
    }
}

@include mq('large') {
    header {
        padding-top: $header-padding-desktop;

        &__buttons {
            text-align: left;
        }
    }

    .main-header {
        @include flexy($just: space-around);
    }

    .header-image {
        order: 2;
        &__img {
            width: 46vw;
            margin-right: 40px;
        }
    
        &__bg {
            @include round-shapes(42vw, 22vw, 0 0 0 180px);
            top: 155px;
        }
    }

    .header {
        text-align: left;
        margin-left: 80px;
        margin-right: 80px;
        &__heading {
            @include h-style-m(em(40px));
        } 
        
        &__buttons {
            margin-bottom: 120px;
            width: 320px;
            &--chrome {
               @include blue-animation();
            }

            &--firefox {
                transition-property: background-color, border;
                transition-duration: .2s;
                &:hover {
                    background-color: white;
                    border: 2px solid $color-neutral__grayish-dark-blue;
                }
            }
            
        }
    }

}
