.questions-section {
    
    @extend %center;
    &__heading {
        @include h-style-m(em(30px));
    } 

    &__description {
        @include p-style-m(1.7, em(18px));
    }
}

.tab-group {
    margin: auto;
    text-align: left;
    max-width: 375px;
    width: 100%;
    padding-bottom: 30px;

}

.tab {
    width: 100%;
   &__one {
    display: block;
    border-bottom: 1px solid gainsboro;
    line-height: 3;
    color: $color-neutral__very-dark-blue;
    margin-bottom: 20px;
    background-image: url(../../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-size: em(17px);

   } 

    &__content {
        height: 0;
        overflow: hidden;
        
    }

    &__content p {
        margin: 1em 0;
    }   

}

.info-button {
    @include btn-style(14px 18px, $color-primary__soft-blue, 110px, whitesmoke);
    margin: auto;
    margin-bottom: 110px;
}

@include mq('large') {
        .questions-div {
            width: 46%; 
            margin: auto;
            text-align: center;
            
    
        }
    
        .questions-section {
            margin-bottom: 180px;
            &__heading {
                @include h-style-m(em(32px));
            } 
        
            &__description {
                margin-bottom: 60px;
            }
        }
    
}