
.navbar {
   &__logo {
        text-align: left;
        margin-right: $nav-margin;
        margin-left: $nav-margin;
        margin-bottom: $nav-margin;
       &--img {
        width: $logo-width;
        height: $logo-height;
       }
   }

}

.nav {
    text-align: center;
    line-height: 4;
    background-color: $color-neutral__light-dark-blue;
    &__item {
        margin: 0 30px;
        border-bottom: 1px solid grey;
        &--link {
            color: white;
            font-weight: $font-weight__light;
        }
    }

    &__login {
        margin: 0 30px;
        margin-top: 26px;
        &--link {
            color: white;
            border: 2px solid grey;
            border-radius: 3px;
            padding: 10px 96px;
            font-weight: $font-weight__medium;
        }
    }
}
